<div>
    <th>
        <td><%= @cliente.id %></td>
        <td><%= @cliente.nombre %></td>
        <td><%= @cliente.direccion %></td>
        <td><%= @cliente.email %></td>
        <td><%= @cliente.telefono %></td>
    </th>           
</div>

<%= link_to "Volver", clientes_path %>