<div>
<% @clientes.each do |item| %>
    <th>
        <td><%= item.id %></td>
        <td><%= item.nombre %></td>
        <td><%= item.direccion %></td>
        <td><%= item.email %></td>
        <td><%= item.telefono %></td>
    </th>    
<% end %>        
</div>

<%= link_to "Volver", menu_path %>