<div>
<% @clientes.each do |item| %>
    <th>
        <td><%= item.id %></td>
        <td><%= item.nombre %></td>
        <td><%= link_to "Detalles", cliente_path(item.id) %></td>
    </th>    
<% end %>
<div>
<%= link_to "Nuevo cliente", new_cliente_path %>        
</div>

<%= link_to "Volver", menu_path %>