<h1>Crear un nuevo cliente</h1>

<%= form_with model: @nuevo do |form| %> 
    <div>
        <%= form.label :nombre %>
        <%= form.text_field :nombre %>
    </div>
    <div>
        <%= form.label :direccion %>
        <%= form.text_field :direccion %>
    </div>
    <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>
    <div>
        <%= form.label :telefono %>
        <%= form.text_field :telefono %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>

<%= link_to "Volver", clientes_path %>