<div class="LogIn">
  <h2>Bienvenido</h2>
  <p>Ingresa tus credenciales</p>

  <%= image_tag(asset_path("vet1.jpeg"), alt: "DogVet", class: "vet1") %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>
<!--
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
-->
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>  
